body {
    margin: 0;
    padding: 20px;
}

main {
    
}

.site {
    width: 60vh;
    height: 85vh;
    margin: auto;
    padding: 50px 100px;
    background: rgb(224, 224, 224);
    border: 1px solid rgb(204, 204, 204);
}

.title {
    height: 200px;
    margin-left: -45px;
    padding: 0px 0 0 40px;
    font: 900 45px sans-serif;
    text-transform: uppercase;
    border-left: 1px solid rgb(145, 145, 145);
    position: static;
    /* background: grey; */
}

.watch {
    
}

/* FUCK Переделать надобно ;( */