body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: 50px repeat(6, 100px);
    padding: 20px;
    grid-template-areas: "header header header header" 
                         "asideLeft nav nav asideRight"
                         "asideLeft main main asideRight" 
                         "asideLeft main main asideRight" 
                         "asideLeft main main asideRight";
}

.element {
    background: blue;
}

.element1 {
    grid-area: header;
    background: hotpink;
}

.element2 {
    grid-area: nav;
    background: green;
}

.element3 {
    grid-area: asideLeft;
    background: greenyellow;
}

.element4 {
    grid-area: main;
    background: grey;
}

.element5 {
    grid-area: asideRight;
    background: greenyellow;
}